@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@700&display=swap');

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #4b5563;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f97316;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ea580c;
}

::-webkit-scrollbar-corner {
  background: #4b5563;
}

::-webkit-scrollbar-button {
  background: #4b5563;
}

.font-blinker {
  font-family: "Blinker", sans-serif;
}
